* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {background-color: #212529;
}

.navbar
{
    border-bottom:3px solid #198754;
}

/* 1ST COLUMN */

.profilepic {
    border-radius: 50%;
}

.list-group-item {
    background-color:#212529;
    color: #ffffff;
}

.form-select {
    background-color: #212529;
    color: #ffffff;
}

.form-select:focus {
    border-color: #198754;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #198754;
}


.dashboard_selector {
    margin-right: 100px;
}

/*  *************************************  */
            /* 3RD COLUMN */
/*  *************************************  */
/* 
.nav-pills .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #198754;
  }

.nav-pills .nav-link.active{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-color: #198754;
  }
  
.nav-pills .nav-link {
    color: white;
  }
   */

.bg-gradient {
background: linear-gradient(to bottom, #ff7f00, #ff4f00);
}